# Common settings for myperl and openxpki package build
set -x

function die {
    echo $* 1>&2
    exit 1
}

basedir=$(dirname $0)

if [ -f $basedir/../local.rc ]; then
    . $basedir/../local.rc
fi

: ${MYPERL_GITURL:="https://github.com/mrscotty/myperl.git"}
: ${MYPERL_BRANCH:=master}

: ${OPENXPKI_GITURL:="https://github.com/mrscotty/openxpki.git"}
: ${OPENXPKI_BRANCH:=develop}

: ${ORACLE_HOME:=/u01/app/oracle/product/11.2.0/xe}

export PERL_VERSION=5.22.0

export OPENSSL_PREFIX=/opt/myperl/ssl
export OPENSSL_INCLUDE=$OPENSSL_PREFIX/include
export OPENSSL_INC=$OPENSSL_PREFIX/include
export OPENSSL_LIB=$OPENSSL_PREFIX/lib

if $OPENSSL_PREFIX/bin/openssl version -f | grep -q fPIC ; then
    echo "OpenSSL built with -fPIC"
else
    echo "ERROR: OpenSSL NOT built with -fPIC" 1>&2
    exit 1
fi

